body{
    font-family: "Montserrat", sans-serif;
}
.page-selection-container {
    width: 370px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: auto;
    margin-top: 85px;
}

.page-selection-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.page-label {
    font-size: 16px;
    color: #333;
}

.page-checkbox {
    width: 23px;/* Apply styles for screens with a max width of 768px (e.g., tablets and smaller devices) */

    height: 23px;
    border: 1px solid #ddd;
    border-radius: 6px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
}

.page-checkbox:hover {
    border-color :#b5b3b3;
}

.page-checkbox:checked {
    background-color: #2469F6;
    border-color: #ddd;
}

.page-checkbox:checked:hover {
    background-color:  #5087F8;
    border-color: #ddd;
}

.page-checkbox:hover::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 6px;
    width: 7px;
    height: 13px;
    border: solid #E3E3E3;
    border-width: 0 1px 1px 0;
    transform: rotate(39deg);
}

.page-checkbox:checked::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 6px;
    width: 7px;
    height: 13px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    transform: rotate(39deg);
}

.page-divider {
    height: 0.7px;
    background-color: #CDCDCD;
    margin: 0;
}

.done-button {
    width: 100%;
    padding: 14px;
    background-color: #FFD84D;
    color: #333;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 22px;
}

.done-button:hover {
    background-color: #FFCE22;
}

@media screen and (max-width: 320px) {
    .page-selection-container {
        width: 100%
    }
}
